*{
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
}

html{
    width: 100%;
    align-items: center;
}

#container{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
}

h1{
    font-size: 20px;
    margin-top: 20px;
}

p{
    font-size: 20px;
    margin-top: 20px;
}

#buttons{
    flex-direction: row;
    margin-top: 20px;
    gap: 20px;
}

button{
    width: 50px;
    height: 25px;
}

#start{
    background-color: lightgreen;
}

#stop{
    background-color: indianred;
}

#reset{
    background-color: cornflowerblue;
}

#lap{
    background-color: lightsalmon;
}

ol{
    font-size: 15px;
    margin-top: 20px;
}